@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all, .2s linear;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-shadow: 0 1px 2px rgb(0, 0, 0);

    -webkit-transition: all .3s linear !important;
    -moz-transition: all .3s linear !important;
    -o-transition: all .3s linear !important;
    transition: all .3 linear !important;
}

/* rgb(185, 57, 57); 
rgba(3, 44, 90, 0.952);
*/

body {
    background-color: rgba(3, 44, 90, 0.952);
    color: rgb(245, 245, 245);
    text-align: center;
    font-family: "Trebuchet MS";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    border-bottom: 2px solid rgb(185, 57, 57) !important;
}

.game-wrapper {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

#game-name {
    color: rgba(3, 44, 90, 0.952);
    text-shadow: 0 1px 1px rgb(0, 0, 0);
}

strong {
    font-size: 60px;
    color: rgb(185, 57, 57);
}

#input {
    width: 80%;
    border: 0;
    outline-width: 0;
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(240, 240, 240) !important;
    background-color: transparent;
    color: rgb(240, 240, 240);
    text-align: center;
}

#letter-box {
    font-size: 40px;
}

.btn-box button {
    width: 49%;
    font-weight: 500 !important;
    text-transform: capitalize;
}

button {
    box-shadow: 0 2px 4px 0 rgb(0, 0, 0);
}

button:hover {
    box-shadow: none;
}